/*GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    transition: opacity 1.5s ease-in;
}

/*BACKGROUND*/
.background {
    position: absolute;
    width: 120%;
    height: 120%;
    background: url(imagens/tela_inicial_gradiente.png) no-repeat center center;
    background-size: cover;
    transition: transform 0.1s ease-out;
}

/*CONTEÚDO*/
.topo {
    background-color: transparent;
    border-radius: 20px;
    border: solid 1px transparent;
    width: 1000px;
    height: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%);
}

.titulo {
    color: #fff;
    font-size: 100px;
    position: relative;
    text-shadow: 10px 5px 8px black;
    top: 30px;
    font-family: "Roslindale Display Condensed";
    font-weight: 300;
    transform: perspective(500px) rotateY(20deg);
}
.fade-out {
    opacity: 0;
}
/*BOTÕES*/
input {
    position: relative;
    top: 80px;
    right: 300px;
    width: 600px;
    height: 100px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    font-size: 50px;
    font-family: "Roslindale Display Condensed";
    cursor: pointer;
    transition: 0.3s ease-in-out;
    transform: perspective(500px) rotateY(30deg);
}

input:hover {
    color: #fff;
    background-color: #00000059;
    border: solid 1px white;
    transform: perspective(500px) rotateY(20deg);
}